    .photos-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
        gap: 16px 16px;
        max-width: 1200px;
        list-style: none;
        text-align: center;
        margin: 0 auto 92px;
        padding-left: 0;
    }
    
    @media screen and (max-width: 1220px) {
        .photos-grid {
            max-width: 900px;
        }
    }
    
    @media screen and (max-width: 1100px) {
        .photos-grid {
            max-width: 929px;
        }
    }
    
    @media screen and (max-width: 950px) {
        .photos-grid {
            max-width: 900px;
        }
    }
    
    @media screen and (max-width: 900px) {
        .photos-grid {
            max-width: 730px;
            margin: 0 auto 88px;
        }
    }
    
    @media screen and (max-width: 740px) {
        .photos-grid {
            max-width: 648px;
        }
    }
    
    @media screen and (max-width: 600px) {
        .photos-grid {
            max-width: 360px;
        }
    }
    
    @media screen and (max-width: 400px) {
        .photos-grid {
            max-width: 288px;
            gap: 10px;
        }
    }
    
    @media screen and (max-width: 400px) {
        .photos-grid {
            max-width: 288px;
            gap: 10px 0;
        }
    }