.lead__image {
    max-width: 984px;
}

@media screen and (max-width: 1110px) {
    .lead__image {
        max-width: 928px;
    }
}

@media screen and (max-width: 1021px) {
    .lead__image {
        max-width: 100%;
    }
}