.cover__title {
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 1.1;
    color: #ffffff;
    text-align: center;
    margin: 0 auto 32px;
    max-width: 560px;
}

@media screen and (max-width: 560px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 20px;
        max-width: 250px;
    }
}

@media screen and (max-width: 360px) {
    .cover__title {
        margin-bottom: 16px;
    }
}