.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: max-content max-content;
    max-width: 984px;
    gap: 40px;
    margin: 0 auto 80px;
}

@media screen and (max-width: 950px) {
    .place {
        max-width: 800px;
        gap: 28px;
    }
}

@media screen and (max-width: 850px) {
    .place {
        max-width: 700px;
    }
}

@media screen and (max-width: 600px) {
    .place {
        margin-left: 15px;
    }
}

@media screen and (max-width: 450px) {
    .place {
        max-width: 100%;
    }
}