.photos-grid__item {
    max-width: 288px;
}

@media screen and (max-width: 1200px) {
    .photos-grid__item {
        max-width: 270px;
    }
}

@media screen and (max-width: 1050px) {
    .photos-grid__item {
        max-width: 300px;
    }
}

@media screen and (max-width: 950px) {
    .photos-grid__item {
        max-width: 270px;
    }
}

@media screen and (max-width: 901px) {
    .photos-grid__item {
        max-width: 280px;
    }
}

@media screen and (max-width: 899px) {
    .photos-grid__item {
        max-width: 310px;
    }
}

@media screen and (max-width: 800px) {
    .photos-grid__item {
        max-width: 352px;
    }
}

@media screen and (max-width: 740px) {
    .photos-grid__item {
        max-width: 310px;
    }
}

@media screen and (max-width: 660px) {
    .photos-grid__item {
        max-width: 280px;
    }
}

@media screen and (max-width: 580px) {
    .photos-grid__item {
        max-width: 330px;
    }
}

@media screen and (max-width: 400px) {
    .photos-grid__item {
        max-width: 288px;
    }
}