.photos-grid__item {
    max-width: 288px;
}

@media screen and (max-width: 1024px) {
    .photos-grid__item {
        max-width: 300px;
    }
}

@media screen and (max-width: 900px) {
    .photos-grid__item {
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .photos-grid__item {
        max-width: 288px;
    }
}